name: Elixir CI

on:
  push:
    branches: [main, staging]
  pull_request:
    branches: [main, staging]

jobs:
  test:
    name: Build and test
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        elixir: [1.16.3, 1.17.3]
        otp: [26.0, 27.0]
        phoenix-live-view-version: [0.19.0, 0.20.0]
        phoenix-version: [1.7.0]

    env:
      PHOENIX_VERSION: ${{matrix.phoenix-version}}
      PHOENIX_LIVE_VIEW_VERSION: ${{matrix.phoenix-live-view-version}}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Elixir
        uses: ./.github/actions/setup-elixir
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}
          phoenix-live-view-version: ${{ matrix.phoenix-live-view-version }}
          phoenix-version: ${{ matrix.phoenix-version }}
      - run: mix format --check-formatted
      - run: mix test
      - run: mix credo --strict
      - run: mix compile --error-on-warnings
      - name: Retrieve PLT Cache
        uses: actions/cache@v3
        id: plt-cache
        with:
          path: priv/plts
          key: plts-v.2-${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-${{ matrix.phoenix-version }}-${{ matrix.phoenix-live-view-version }}-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      - name: Create PLTs
        if: steps.plt-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p priv/plts
          mix dialyzer --plt
      - run: mix dialyzer
      - name: Run test app tests
        run: |
          cd test_app
          mix deps.get
          mix deps | grep "phoenix "
          mix test
      - name: Check let warning
        run: |
          cd test_app
          mix test --only let_warning 2> /tmp/test.output
          cat /tmp/test.output
          !(cat /tmp/test.output | grep -q "Using variables in HEEx templates are discouraged as they disable change tracking.")
